{% extends 'base/inline_md.html' %}

{% block title %}{% block header %}Swift SMP Controversy{% endblock %}{% endblock %}

{% block md %}
So, there has been a bit of controversy going on between Steaky SMP and Swift SMP over some bots that have been advertising Steaky on Swift.  These bots have bypassed an Anti-VPN plugin, and staff members of Steaky SMP (myself included) are denying the allegation that we are behind it.  Nobody knows who directed the bots towards Swift.  My personal suspicion is a helper named nestorio, so far the only connection I am aware of between our two servers.  
This is meant to be an archive of the argument and it's current state.  Unfortunately, I do not know how to make tickets public, so I had to copy the source code of the ticket website.  All of the links on the ticket website have been fixed so they will still work from here.  This really only effects people who have access to the Steaky SMP ticket panel.

## Tickets so far
- [melojelo](https://turbojax.org/swiftstuff/tickets/melojelo.html): Ticket with Swift staff over the controversy.
- [masondagoat737](https://turbojax.org/swiftstuff/tickets/masondagoat737.html): Ticket with a victim of this scam where they asked for the role "promised" to them by the bots on Swift.
- [co8n](https://turbojax.org/swiftstuff/tickets/co8n.html): Ticket with another Swift staff member.  Currently open.

## An Exposé on the owner of Swift.
- Homepage: [Original](https://my-side-of-the-story.replit.app/), [My Backup](https://turbojax.org/swiftstuff/expose)
- Initial Version: [Original](https://my-side-of-the-story.replit.app/initialver.html), [My Backup](https://turbojax.org/swiftstuff/expose/initialver.html)
- More on Kat: [Original](https://my-side-of-the-story.replit.app/theexposee.html), [My Backup](https://turbojax.org/swiftstuff/expose/theexposee.html)
{% endblock %}
