{% extends 'base/base.html' %}

{% block title %}Q1 Events{% endblock %}
{% block header %}Quarter 1 Events{% endblock %}

{% block head %}
<link href="/static/css/bucketlist/q1.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="event1">
    <h1 class="title">Bucket List #1: Grandma's Concert</h1>

    <img id="pic1" src="/static/img/bucketlist/q1/family_photo.jpg">
    <img id="pic2" src="/static/img/bucketlist/q1/treble_sounds.jpg">

    <h2 class="date">8/26/2024</h2>

    <p class="info">
        In the beginning of last summer, my Grandma found out about a chorus group based out of her church known as the Treble Sounds.&ensp;They are an all-female choir that only meets during the summer.&ensp;At the end of the August, they perform with the all-male group, Summer Sounds, to showcase the songs they've learned over the past three months.&ensp;My family attended the show, and most of the songs were gospel songs, as to be expected by a church-sanctioned event.&ensp;I am sorry to admit that I did find myself beginning to nod off during the performance, but I did manage to stay awake.
    </p>
</div>
<br>
<br>
<div id="event2">
    <h1 class="title">Bucket List #2: CyberPatriot Team 17-1233</h1>

    <img id="pic1" src="/static/img/bucketlist/q1/cyberpatriot_logo.png">
    <img id="pic2" src="/static/img/bucketlist/q1/team_discord.png">

    <h2 class="date">9/4/2024</h2>

    <p class="info">
        Some background:<br>
        CyberPatriot is a national competition hosted by the Air Force Association where teams of students compete to secure an operating system.&nbsp;&nbsp;The operating systems we will be securing this year are Ubuntu 22, Windows 10, Windows Server 2019, and Linux Mint 21.<br>
        There are 5 rounds of scored competition.&nbsp;&nbsp;The first two are placement rounds.&nbsp;&nbsp;Based on the scores you get in those two rounds, you get put into one of three categories, Platinum, Gold, or Silver.<br>
        Round 3 is the first round in your designated category.&nbsp;&nbsp;To get to round 4, you need to be in the top 25% of your category.&nbsp;&nbsp;Round 5 is only open to the top 12 teams in the nation, and it is very hard to get to.<br>
        <br>
        This is my third year competing in the CyberPatriot challenge.&nbsp;&nbsp;As a senior, I wanted to put together one of the better teams at our school and go all out.&nbsp;&nbsp;I wanted to make a team of 5, as the max number of competitors at one time is 5, but you can have 6 people on your team.&nbsp;&nbsp;Having a 6th person would just make it more difficult as we would have to figure out a scedule to switch someone out.&nbsp;&nbsp;I wanted to keep the core 3 people from my original cyberpatriot team, so there were two spots left.&nbsp;&nbsp;I ended up asking two Juniors to join us, due to their evident skills from the previous year, their rookie year.&nbsp;&nbsp;A few days after making a group chat, we decided to call the team "Not the NSA."
    </p>
</div>
<br>
<br>
<div id="event3">
    <h1 class="title">Bucket List #3: Convocation</h1>

    <img id="pic1" src="/static/img/bucketlist/q1/convocation_hall.jpg">
    <img id="pic2" src="/static/img/bucketlist/q1/convocation_family.jpg">
    <img id="pic3" src="/static/img/bucketlist/q1/convocation_friends.jpg">
    <h2 class="date">10/9/2024</h2>

    <p class="info">
        At the beginning of my senior year, our school holds an event known as convocation.&nbsp;&nbsp;This is basically an event meant to hype up the senior class and get us excited for graduation.&nbsp;&nbsp;It was a short event where we met in the auditorium for about an hour, and then spent some time outside to take the class photo and take some other photos with our friends.&nbsp;&nbsp;After the ceremony, all of the seniors had the rest of the day off.
    </p>
</div>
<br>
<br>
<div id="event4">
    <h1 class="title">Bucket List #4: CyberPatriot Practice Round</h1>

    <img id="pic1" src="/static/img/bucketlist/q1/mint_desktop.jpg">
    <img id="pic2" src="/static/img/bucketlist/q1/mint_score.jpg">
    <img id="pic3" src="/static/img/bucketlist/q1/mint_updating.jpg">

    <h2 class="date">10/13/2024</h2>

    <p class="info">
        If you don't know what CyberPatriot is, I recommend reading <a href="/bucketlist/q1/cypatteam.html">this post</a> as I introduce what CyberPatriot is as well as who I am competing with.<br>
        Before the main rounds of competition, CyberPatriot holds a few practice rounds.&nbsp;&nbsp;As the Linux specialist on my team, I worked with the Linux Mint 21 image.&nbsp;&nbsp;I wasn't very focused on completing the image, mostly due to the short amount of time I had to work on the image.&nbsp;&nbsp;I mostly spent my time testing the automated script that I and another teammate had worked on, and this script alone got me 76/100 points!  Unfortunately, I ran some bad code that caused the image to break, where I tried to recover it, as shown in the third image.&nbsp;&nbsp;I was basically stuck in a terminal window, unable to start the systemd process to begin the graphical interface.&nbsp;&nbsp;Unable to recover the image, I had to give up early before I could finish the competition.
    </p>
</div>
<br>
<br>
<div id="event5">
    <h1 class="title">Bucket List #5: Finishing College Applications</h1>

    <img id="pic1" src="/static/img/bucketlist/q1/commonapp.png">
    
    <h2 class="date">10/17/2024</h2>

    <p class="info">
        Since Sophomore year, I have been thinking about what college I want to go to.&nbsp;&nbsp;I knew I wanted to study either computer science or cybersecurity, but I didn't have any idea as to what a good college look like for those programs.&nbsp;&nbsp;I eventually made a list of about 14 colleges that I would visit and learn more about to see if they interested me.&nbsp;&nbsp;By the end of the summer of 2024, I had managed to shorten the list to only my top 5 colleges, and I applied to those.&nbsp;&nbsp;These colleges were Christopher Newport, Randolph Macon, Old Dominion, Liberty, and George Mason.&nbsp;&nbsp;In August, I applied to the Early Action form for Randolph Macon, and didn't finish the rest of the applications until October 17th.&nbsp;&nbsp;In a few months, I should start hearing back from these colleges to see whether or not I got accepted.
    </p>
</div>
{% endblock %}
