{% extends 'base/base.html' %}

{% block title %}Q2 Events{% endblock %}
{% block header %}Quarter 2 Events{% endblock %}

{% block head %}
<link href="/static/css/bucketlist/q2.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="event6">
    <h1 class="title">Bucket List #6: Painting the Rock</h1>

    <img id="pic1" src="/static/img/bucketlist/q2/rumbleprep1.jpg">
    <img id="pic2" src="/static/img/bucketlist/q2/rumbleprep2.jpg">

    <h2 class="date">10/21/2024</h2>

    <p class="info">
        In late October, Blue Cheese Robotics hosted a robotics competition called "Rumble with Cheese."  To spread the word about the event, we decided to paint the spirit rock outside of the school.&nbsp;&nbsp;The photos aren't great because we painted it at night, but 5 of us helped out.&nbsp;&nbsp;We were planning on recording a promotion video at night as well, but the camera quality wasn't great, so they had to retake it in the morning.  You can check it out here: <a href="https://www.facebook.com/frc1086/videos/lets-get-ready-to-rumble-join-blue-cheese-robotics-team-1086-for-virginias-premi/1067183241335796/">Rumble Promo</a>.
    </p>
</div>
<br>
<br>
<div id="event7">
    <h1 class="title">Bucket List #7: Restarting Makerfest</h1>

    <img id="pic1" src="/static/img/bucketlist/q2/makerfest1.jpg">
    <img id="pic2" src="/static/img/bucketlist/q2/makerfest2.jpg">

    <h2 class="date">11/2/2024</h2>

    <p class="info">
        Makerfest is a community event where people in our area get together and share the things they've made or how to make them.&nbsp;&nbsp;The last one was in 2019, and it was shut down due to covid.&nbsp;&nbsp;This year, Blue Cheese Robotics helped bring it back.&nbsp;&nbsp;I was stationed at the 3d printing table where I would tell people how 3d printers worked, and show them some of the stuff we've made.&nbsp;&nbsp;I did my best, but I haven't actually used a 3d printer, so my explanations were very simplistic.&nbsp;&nbsp;Overall, the event went well, and I saw groups such as the American Radio Relay League and RABID Robotics there too.
    </p>
</div>
<br>
<br>
<div id="event8">
    <h1 class="title">Bucket List #8: Comedy Sportz</h1>

    <img id="pic1" src="/static/img/bucketlist/q2/comedysportz1.jpg">
    <img id="pic2" src="/static/img/bucketlist/q2/comedysportz2.jpg">
    <h2 class="date">11/2/2024</h2>

    <p class="info">
        After Makerfest, we went to Comedy Sportz.&nbsp;&nbsp;Comedy Sportz is an improv show where two teams of three compete in various games to make the audience laugh.&nbsp;&nbsp;They will even bring up people from the audience every once in a while and have them compete or give ideas.&nbsp;&nbsp;This was a fun trip, and I'd like to go again.&nbsp;&nbsp;However, I don't like going up on the stage, so I may try to avoid being picked.
    </p>
</div>
<br>
<br>
<div id="event9">
    <h1 class="title">Bucket List #9: Christmas</h1>

    <img id="pic1" src="/static/img/bucketlist/q2/christmas_eve.jpg">
    <img id="pic2" src="/static/img/bucketlist/q2/christmas_day.jpg">

    <h2 class="date">12/24/2024 - 12/25/2024</h2>

    <p class="info">
        Every year, my family celebrates Christmas twice.&nbsp;&nbsp;On Christmas Eve we go to one of my grandparent's house, and on Christmas Day we go to the other grandparents house.&nbsp;&nbsp;On both days, we play games, have dinner, and open presents.&nbsp;&nbsp;It's a great time for everyone!  This year, we had a few more guests on Christmas Eve than normal because my cousins from North Carolina came up with their grandparents.&nbsp;&nbsp;Everyone was happy that they were there as we don't see them very often.&nbsp;&nbsp;I got a few cool things from my grandparents, including a new phone (not an expensive one), some multitool pens, and plenty of candy.&nbsp;&nbsp;I had a great time, and it was amazing having everyone together.
    </p>
</div>
<br>
<br>
<div id="event10">
    <h1 class="title">Bucket List #10: Family Photo</h1>

    <img id="pic1" src="/static/img/bucketlist/q2/photo.jpg">
    
    <h2 class="date">12/27/2024</h2>

    <p class="info">
        Around Christmastime, my parents signed up for an online contest to get professional photos taken with our pet.&nbsp;&nbsp;We ended up being one of the winners, and scheduled our photos to be taken a few days after Christmas.&nbsp;&nbsp;Unfortunately, the photography group won't let us get digital versions of our photos (At least not without a steep price), so the best I can do is a photo my mom and I took outside while we were exploring the area.&nbsp;&nbsp;Overall, the photo experience was interesting.&nbsp;&nbsp;To maintain our dog's interest, the photographer would make quick noises like cats meowing or clicks and whistles.&nbsp;&nbsp;The photos turned out well when we were shown them, but we won't get them for a while as the framing process takes some time.
    </p>
</div>
{% endblock %}
