#header {
    display: none;
}

#center-img {
    border: 5px solid black;
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 50vmin;
    width: 50vmin;
}

#content {
    height: 100vh;
    padding: 0 !important;
    margin: 0;
    overflow-y: hidden;
    position: relative;
}

#name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 50vmin;
    width: 50vmin;
    padding: 5px;
}

text {
    font-weight: 700;
    font-size: 33pt;
    fill: white;
    stroke-width: 2px;
    stroke: black;
}

img {
    height: calc(50vh - 10px);
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}
