* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #F5F7FA;
    color: #1F2933;
    display: flex;
    height: 100vh;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#header {
    background-color: #3154B3;
    color: white;
    padding: 1rem;
}

#content {
    flex: 1;
    padding: 2rem;
}