<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Tickets V2 | A Discord Support Manager Bot</title>

	<link rel="stylesheet" href="https://dashboard.tickets.bot/global.css">
	<link rel="stylesheet" href="https://dashboard.tickets.bot/build/bundle.css">
	<script defer="" src="https://ticketsv21.statuspage.io/embed/script.js"></script>
	<script defer="" src="/build/bundle.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Management panel for the Discord Tickets V2 bot">
	<link rel="shortcut icon" href="https://dashboard.tickets.bot/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://dashboard.tickets.bot/favicon.ico" type="image/ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
</head>

<body>
	<script defer=""
		src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
		integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
		data-cf-beacon="{&quot;version&quot;:&quot;2024.11.0&quot;,&quot;token&quot;:&quot;226df8f3d04741f59b2b8321bc3e296d&quot;,&quot;r&quot;:1,&quot;server_timing&quot;:{&quot;name&quot;:{&quot;cfCacheStatus&quot;:true,&quot;cfEdge&quot;:true,&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfOrigin&quot;:true,&quot;cfSpeedBrain&quot;:true},&quot;location_startswith&quot;:null}}"
		crossorigin="anonymous"></script>


	<iframe src="https://j7dytlqrntrm.statuspage.io/embed/frame"
		style="position: fixed; border: medium; box-shadow: rgba(9, 20, 66, 0.25) 0px 20px 32px -8px; z-index: 9999; transition: left 1s, bottom 1s, right 1s; height: 115px; width: 320px; left: -9999px; right: -9999px; bottom: 60px;"
		title="Tickets v2 Status" aria-hidden="true" tabindex="-1"></iframe>
	<div class="wrapper svelte-4fmrv0">
		<div class="navbar svelte-1gpkfq7">
			<div class="wrapper svelte-1gpkfq7">
				<div>
					<div class="burger-menu svelte-1gpkfq7">
						<div class="nav-element svelte-131tis7"><a class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-bars svelte-131tis7"></i></div> Menu
							</a></div>
					</div>
					<div class="nav-section svelte-1gpkfq7">
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/settings"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-cogs svelte-131tis7"></i></div>
								Settings
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/transcripts"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-copy svelte-131tis7"></i></div>
								Transcripts
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/panels"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-mouse-pointer svelte-131tis7"></i>
								</div> Ticket Panels
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/forms"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-poll-h svelte-131tis7"></i></div>
								Forms
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/teams"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-users svelte-131tis7"></i></div> Staff
								Teams
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/integrations"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-robot svelte-131tis7"></i></div>
								Integrations
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/import"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-file-import svelte-131tis7"></i></div>
								Import
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/tickets"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-ticket-alt svelte-131tis7"></i></div>
								Tickets
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/blacklist"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-ban svelte-131tis7"></i></div>
								Blacklist
							</a></div>
						<div class="nav-element svelte-131tis7"><a
								href="https://dashboard.tickets.bot/manage/1268606054720340029/tags"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-tags svelte-131tis7"></i></div> Tags
							</a></div>
					</div>
				</div>
				<div>
					<div class="nav-section svelte-1gpkfq7">
						<div class="nav-element svelte-131tis7"><a href="https://docs.tickets.bot"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-book svelte-131tis7"></i></div>
								Documentation
							</a></div>
						<div class="nav-element svelte-131tis7"><a href="https://dashboard.tickets.bot/#"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-server svelte-131tis7"></i></div>
								Servers
							</a></div>
						<div class="nav-element svelte-131tis7"><a href="https://dashboard.tickets.bot/logout"
								class="link row svelte-131tis7">
								<div class="icon svelte-131tis7"><i class="fas fa-sign-out-alt svelte-131tis7"></i>
								</div> Logout
							</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="super-container svelte-4fmrv0">
			<div class="content-container svelte-4fmrv0">
				<section class="sidebar svelte-6xv1n9">
					<header class="svelte-6xv1n9"><img
							src="https://cdn.discordapp.com/icons/1268606054720340029/cd8a75fcc53d6fa79f3eb040c47fe97b.webp?size=256"
							class="guild-icon svelte-6xv1n9" alt="Guild icon" width="50" height="50"> Steaky | Season 2
					</header>
					<nav class="svelte-6xv1n9">
						<ul class="nav-list svelte-6xv1n9">
							<div style="padding: 10px;">
								<li>
									<div style="width: 100%;"><a href="https://dashboard.tickets.bot/" target="_self"
											class="svelte-19wh6g"> <span>← Back to
												servers</span></a> </div>
								</li>
							</div>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/settings"
										target="_self" class="svelte-1uaalp7"><i class="fas fa-cogs svelte-1uaalp7"></i>
										<span>Settings</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/transcripts"
										target="_self" class="svelte-1uaalp7 active"><i
											class="fas fa-copy svelte-1uaalp7"></i> <span>Transcripts</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/panels"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-mouse-pointer svelte-1uaalp7"></i> <span>Ticket
											Panels</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/forms"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-poll-h svelte-1uaalp7"></i> <span>Forms</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/teams"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-users svelte-1uaalp7"></i> <span>Staff Teams</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/integrations"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-robot svelte-1uaalp7"></i> <span>Integrations</span></a>
								</div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/import"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-file-import svelte-1uaalp7"></i> <span>Import</span></a>
								</div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/tickets"
										target="_self" class="svelte-1uaalp7"><i
											class="fas fa-ticket-alt svelte-1uaalp7"></i> <span>Tickets</span></a>
								</div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/blacklist"
										target="_self" class="svelte-1uaalp7"><i class="fas fa-ban svelte-1uaalp7"></i>
										<span>Blacklist</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a
										href="https://dashboard.tickets.bot/manage/1268606054720340029/tags"
										target="_self" class="svelte-1uaalp7"><i class="fas fa-tags svelte-1uaalp7"></i>
										<span>Tags</span></a> </div>
							</li>
						</ul>
					</nav>
					<nav class="bottom svelte-6xv1n9">
						<hr class="svelte-6xv1n9">
						<ul class="nav-list svelte-6xv1n9">
							<li>
								<div style="width: 100%;"><a href="https://docs.tickets.bot" target="_blank"
										class="svelte-1uaalp7"><i class="fas fa-book svelte-1uaalp7"></i>
										<span>Documentation</span></a> </div>
							</li>
							<li>
								<div style="width: 100%;"><a href="https://dashboard.tickets.bot/logout" target="_self"
										class="svelte-1uaalp7"><i class="fas fa-sign-out-alt svelte-1uaalp7"></i>
										<span>Logout</span></a> </div>
							</li>
						</ul>
					</nav>
				</section>
				<div class="parent svelte-j00dgs">
					<div class="content svelte-j00dgs">
						<div class="card svelte-1ttiwu fill">
							<div class="card-header svelte-1ttiwu">
								<div class="card-title-row svelte-1ttiwu">
									<h4 class="card-title svelte-1ttiwu"><span slot="title"
											class="svelte-j00dgs">#ticket-879 - View Transcript</span></h4>
								</div>
							</div>
							<div class="card-body svelte-1ttiwu">
								<div class="inner svelte-1ttiwu">
									<div slot="body" class="body-wrapper svelte-j00dgs">
										<div class="section svelte-j00dgs">
											<div class="messages-container svelte-j00dgs" id="messages-container">
												<div class="message svelte-j00dgs" data-id="1435452210157977680">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1325579039888511056/0475b9e371572541147b21c4dfc04c77.webp?size=256"
															alt="Tickets v2" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">Tickets v2</span>
															<span class="bot-tag svelte-j00dgs">BOT</span> <span
																class="message-timestamp svelte-j00dgs">11/4/2025,
																9:14:36 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">-#
															||&lt;@&amp;1268606054720340030&gt;||</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435452211189776468">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1325579039888511056/0475b9e371572541147b21c4dfc04c77.webp?size=256"
															alt="Tickets v2" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">Tickets v2</span>
															<span class="bot-tag svelte-j00dgs">BOT</span> <span
																class="message-timestamp svelte-j00dgs">11/4/2025,
																9:14:36 PM</span>
														</div>
														<div class="message-embed svelte-j00dgs">
															<div class="embed-description svelte-j00dgs"><strong>GENERAL
																	SUPPORT</strong><br>Please leave your message,
																issue,<br>or request down below, and we will<br>gladly
																assist you within a short period of time!</div>
															<div class="embed-footer svelte-j00dgs"><img
																	src="https://tickets.bot/assets/img/logo.png"
																	alt="Footer icon"
																	class="embed-footer-icon svelte-j00dgs"> <span
																	class="svelte-j00dgs">Powered by tickets.bot </span>
															</div>
														</div>
														<div class="message-components svelte-j00dgs">
															<div class="action-row svelte-avrv1u">
																<div class="discord-button button-danger svelte-1ia6kgw"
																	data-custom-id="close"><span
																		class="emoji svelte-1ia6kgw">🔒</span> Close
																</div>
																<div class="discord-button button-danger svelte-1ia6kgw"
																	data-custom-id="close_with_reason"><span
																		class="emoji svelte-1ia6kgw">🔒</span> Close
																	With Reason</div>
															</div>
														</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435452272829272186">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/4/2025,
																9:14:51 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">yo
															&lt;@1038789834011062302&gt;</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435463467808329828">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1038789834011062302/5a3c64966c3ce50678fe9f0af29feac8.webp?size=256"
															alt="christine.as" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">christine.as</span>
															<span class="message-timestamp svelte-j00dgs">11/4/2025,
																9:59:20 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">hey</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435476087290200064">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/716831286001664060/11171c864a5b1bc60bc424fac6b3c885.webp?size=256"
															alt="whoisme_1" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">whoisme_1</span>
															<span class="message-timestamp svelte-j00dgs">11/4/2025,
																10:49:29 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">Hi?</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435511570087284808">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1258645120799080561/490c485b6884262e4c592b40dcb9d21f.webp?size=256"
															alt="xx_nestorio_xx" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">xx_nestorio_xx</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																1:10:28 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">how can i help you</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435593689647808522">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																6:36:47 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">so i got promised id be
															a mod if i join from swift smp im a swift rank and i joined
															and never got the rank</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435593767997669376">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																6:37:06 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">bye epic</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435593781771632640">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																6:37:09 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">sm like thatg</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435629600649646122">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/726853525539258389/22b920b023e9cad0c4d9f04c279c7d3f.webp?size=256"
															alt="turbojax07" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">turbojax07</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																8:59:29 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">
															&lt;@1038789834011062302&gt; can you verify this?</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435641419791601806">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1126036385850204202/89d5e453a0e6e16280e538118207679e.webp?size=256"
															alt="jarwin1147" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">jarwin1147</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																9:46:27 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">it's not true actually
														</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435641507511140352">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1126036385850204202/89d5e453a0e6e16280e538118207679e.webp?size=256"
															alt="jarwin1147" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">jarwin1147</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																9:46:48 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">I also experienced this
															in the swiftsmp</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435644946140102796">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1038789834011062302/5a3c64966c3ce50678fe9f0af29feac8.webp?size=256"
															alt="christine.as" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">christine.as</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																10:00:28 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">I don't invite people to
															be staff in my server</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435721950633918495">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																3:06:27 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">SO THEN what did i get
															invited for this like</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435722019608985703">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																3:06:43 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">i was happy i was gonna
															get mod for the 2 time in life</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435729258524971114">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/726853525539258389/22b920b023e9cad0c4d9f04c279c7d3f.webp?size=256"
															alt="turbojax07" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">turbojax07</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																3:35:29 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">Who invited you?</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435729491350655007">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																3:36:25 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">SM kid from swift smp im
															an old mod on there i was the best mod then i quit bc it got
															boring bc no one played</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435730115408429177">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/726853525539258389/22b920b023e9cad0c4d9f04c279c7d3f.webp?size=256"
															alt="turbojax07" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">turbojax07</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																3:38:54 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">Well is that person in
															this server?</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435749276243202129">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1194390287666135103/570265a8f92433b9b82931e860c2e0b6.webp?size=256"
															alt="masondagoat737" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">masondagoat737</span>
															<span class="message-timestamp svelte-j00dgs">11/5/2025,
																4:55:02 PM</span>
														</div>
														<div class="message-text svelte-j00dgs">it was like epic</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435869234365333586">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/716831286001664060/11171c864a5b1bc60bc424fac6b3c885.webp?size=256"
															alt="whoisme_1" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">whoisme_1</span>
															<span class="message-timestamp svelte-j00dgs">11/6/2025,
																12:51:42 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">Sir
															&lt;@1194390287666135103&gt; dont believe something like
															that it's most likely a scam</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435886304196956283">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1258645120799080561/490c485b6884262e4c592b40dcb9d21f.webp?size=256"
															alt="xx_nestorio_xx" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">xx_nestorio_xx</span>
															<span class="message-timestamp svelte-j00dgs">11/6/2025,
																1:59:32 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">hi there so there is a
															person saying in swift smp join for mod position, we don't
															give staff positions for joining the server please close the
															ticket if you understand this</div>
													</div>
												</div>
												<div class="message svelte-j00dgs" data-id="1435886315718836305">
													<div class="message-avatar svelte-j00dgs"><img
															src="https://cdn.discordapp.com/avatars/1325579039888511056/0475b9e371572541147b21c4dfc04c77.webp?size=256"
															alt="Tickets v2" class="svelte-j00dgs"></div>
													<div class="message-content svelte-j00dgs">
														<div class="message-header svelte-j00dgs"><span
																class="message-author svelte-j00dgs">Tickets v2</span>
															<span class="bot-tag svelte-j00dgs">BOT</span> <span
																class="message-timestamp svelte-j00dgs">11/6/2025,
																1:59:35 AM</span>
														</div>
														<div class="message-text svelte-j00dgs">
															&lt;@1194390287666135103&gt;</div>
														<div class="message-embed svelte-j00dgs"> Close Request <div
																class="embed-description svelte-j00dgs">
																&lt;@1258645120799080561&gt; has requested to close this
																ticket.
																<br>
																<br>Please accept or deny using the buttons below.
															</div>
															<div class="embed-footer svelte-j00dgs"><img
																	src="https://tickets.bot/assets/img/logo.png"
																	alt="Footer icon"
																	class="embed-footer-icon svelte-j00dgs"> <span
																	class="svelte-j00dgs">Powered by tickets.bot </span>
															</div>
														</div>
														<div class="message-components svelte-j00dgs">
															<div class="action-row svelte-avrv1u">
																<div class="discord-button button-success svelte-1ia6kgw"
																	data-custom-id="close_request_accept"><span
																		class="emoji svelte-1ia6kgw">☑️</span> Accept
																	&amp; Close</div>
																<div class="discord-button button-secondary svelte-1ia6kgw"
																	data-custom-id="close_request_deny"><span
																		class="emoji svelte-1ia6kgw">❌</span> Deny &amp;
																	Keep Open</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="media-modal" class="media-modal svelte-j00dgs"><span
						class="media-modal-close svelte-j00dgs">×</span>
					<img class="media-modal-content svelte-j00dgs" id="modal-img" alt="Media preview">
				</div>
			</div>
		</div>
	</div>
</body>

</html>