<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My side of the story</title>
  <style>
    html {
      width: 100%;
      height: 100%;
    }
    img {
      width: 32rem;
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 12px;
    }
  </style>
</head>

<body>

  <h2 style="color: red;">Disclaimer</h2>
  <p>The views, allegations and opinions expressed here are my own, based on evidence I have gathered. Do not harass any party involved in this document. All suspects are innocent unless and until proven guilty in a court of law.</p>
    <h1>The Exposing Doc</h1>
    I was recently demoted from SwiftSMP, the server I had been hosting since July of 2024, up until February of 2025. I have spent more money on Swift than on any one product I ever bought.
    <br>
  My heart goes out to those who have been doxxed and taken advantage of. I have been a part of the server and community for a long time. And I have seen many instances of Katleal doxxing, taking advantage of me, defaming others, promoting underage gambling addictions, fraud, and so much more. I hope this document will lead to Katleal's downfall.
  <h2>Mark</h2>
  Hello Katleal... I mean Mark... I mean Katl- who even is mark??<br>Mark is Katleal's real name. Although I currently do not have evidence to support this, many witnesses have recalled a lot of things that suggest Mark is Katleal's real name. My friend has recalled an instance of a person (likely Mark's family) commenting "Hello Katleal" on Kat's Facebook page. However, it has since been locked, and therefore ongoing investigations would almost certainly have been halted. Although I would not like to dox Mark, what IS public is Mark's name. And therefore, I can now tell you that Mark is- okay I put the name here then realized it might be doxxing so I just removed it Mark is biologically male but I am not a transphobe so I will be still referring to Katleal as a female in this document.
  <h2>F4iryFeii</h2>
  F4iryFeii is a Japanese Tiktoker. Katleal had been using F4iryFeii's photos WITHOUT her consent and pretending for it to be her own. To be clear, F4iryFeii is NOT Katleal, nor is she associated, and she probably has no idea Kat has been using her photos and passing them off as her own. Here's F4iryFeii's account: <a href="https://www.tiktok.com/@f4iryfeii?lang=en">https://www.tiktok.com/@f4iryfeii?lang=en</a> and here's some photos if you're from the US or India where TikTok is banned:<br><img src="/static/swiftstuff/f4iryfeii.png">
  <h2>Doxxing</h2>
  As stated in follow-up 3 of this document, DrW1zzle stated:
  <br><i><code>Neither Katleal nor any member of the team has ever doxxed anyone. There is no proof to support this.</code></i>
  <br>
  However, I have seen many instances of Katleal doxxing. One example of which is shown below. I have blacked out any private information of the victim to protect their privacy:
  <br>
  <img src="/static/swiftstuff/kat dox proof.png">
  <br>
  For clarification, Kat used the name "<code>stream rockstar by lisa</code>" at the time, and the "Today" was captured on July 12th, 2024. The reason I didn't do anything about it was because I felt like Katleal would frame me. Now that I've shown evidence of her lying, I hope y'all will trust me now.<br>Also, this is likely not even him as the name is in Korean...<h2>Fraud</h2>Although I do not have evidence that Katleal had ever promised it or had never paid me, I hope that you will trust me for this. Katleal promised to pay me 50% of sales at the end of each month. She later changed this to 40% and then 10% for January and 40% for February onwards.<br>So did I ever get paid? <strong>Nope!</strong> Not for January, and not for the half of February I had hosted it for.
  <h2>Defamation</h2>
  I had told her repeatedly that it was my DAD who refused to let me transfer files from my host to hers. When I confronted her, she doubled down. And when I confronted her about this and the next part of the document, she doubled down again and blocked me.<h2>Promoting underage gambling addictions</h2>
  I had already explained this in Follow-up 1, so I'll just copy paste:<br>
  <code>To be brutally honest, I used to have a gambling addiction, but not anymore. I told her about the gambling addiction because it started from spin crates on a different server, and I told her to remove them on Swift. She never listened. <strong>SHE</strong> was the one that dismissed my pleas to remove what ultimately led to my gambling addiction. <strong>My pleas fell on deaf ears.</strong></code>
  <h2>Taking advantage of me</h2>Although what classifies as being "taken advantage of" is subjective, I hope we can all agree that this definitely falls under it.<h3>To Katleal,</h3>
  <h2>You deserved this.</h2>
  I have given you many chances to repent and talk about it, but you have denied every single one, and eventually blocked me. I've given you even more chances by talking to DrW1zzle but he BARELY changed the announcement in a way that still implies the same thing.<br><br>
<a href="/swiftstuff/expose">View the home page</a>
  
</body>

</html>
