{% extends 'base/inline_md.html' %}

{% block title %}Awards{% endblock %}
{% block header %}Awards and Achievements{% endblock %}

{% block md %}
- Accepted into the CNU President's Leadership Program
- Qualified for FRC Worlds on Blue Cheese Robotics in 2025
- Qualified for District Championships four times on Blue Cheese Robotics
- Earned a $500 scholarship to Radford University
- Qualified for RadfordCTF 2025 finals
- Qualified for CyberPatriot Platinum league
- Programming lead for FRC Blue Cheese 1086 in 2025
- Earned the Triple Crown Award in Scouting for completing three high adventure camps
- Earned the 50 Miler Award three times for traveling 50 miles on a high adventure trip
- Completed over 100 nights of camping
- Recieved a 5 on the AP Computer Science A exam
- Qualified for RadfordCTF 2024 finals
- Programming lead for FRC Blue Cheese 1086 in 2024
- Earned the rank of Eagle Scout
- Member of the Order of the Arrow
- Qualified for States in marching band
- Qualified for TSA Nationals and VEX States twice in middle school
- 1st Place at VEX IQ Technospere
{% endblock %}
