{% extends 'base/base.html' %}

{% block title %}Projects{% endblock %}
{% block header %}Projects{% endblock %}

{% block head %}
<link href="/static/css/projects.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="project-card">
    <h1>Hue&shy;Control</h1>
    <p>A Light API for controlling Philips Hue lights with Java (WIP)</p>
    <a href="https://github.com/Turbojax07/HueControl"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Lifx&shy;Control</h1>
    <p>A Light API for controlling Lifx lights with Java (WIP)</p>
    <a href="https://github.com/Turbojax07/LifxControl"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Hub&shy;Control</h1>
    <p>A light API for controlling Hubspace lights with Python (WIP)</p>
    <a href="https://github.com/Turbojax07/HubControl"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Woodland&shy;Cemetery-2024</h1>
    <p>An interactive map of the Woodland Cemetery, hosted on <a href="https://www.woodlandrestorationfoundation.org/map">https://www.woodlandrestorationfoundation.org</a></p>
    <a href="https://github.com/Turbojax07/WoodlandCemetery-2024"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Forte-V3</h1>
    <p>My version of the robot code for Blue Cheese 1086's 2024 robot, Forte.</p>
    <a href="https://github.com/Turbojax07/Forte-V3"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>2025&shy;Kitbot</h1>
    <p>My version of the robot code for the 2025 FRC Kitbot.</p>
    <a href="https://github.com/Turbojax07/2025Kitbot"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>2025&shy;Drivetrain</h1>
    <p>A simple robot code project that controls a swerve drivetrain and a gyroscope.</p>
    <a href="https://github.com/Turbojax07/2025Drivetrain"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Turbo&shy;Logger</h1>
    <p>A logger library that can push and pull data to FRC NetworkTables. (WIP)</p>
    <a href="https://github.com/Turbojax07/TurboLogger"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>ForteJr&shy;2025</h1>
    <p>Code for the 2024 FRC kitbot updated for 2025.</p>
    <a href="https://github.com/Turbojax07/ForteJr2025"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>1086G&shy;yro</h1>
    <p>Code for a FRC subsystem that controls a gyroscope and can be pulled into other robot code projects.</p>
    <a href="https://github.com/Turbojax07/1086Gyro"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>1086&shy;Drivetrain</h1>
    <p>Code for a FRC subsystem that controls a swerve drivetrain and can be pulled into other robot code projects.</p>
    <a href="https://github.com/Turbojax07/1086Drivetrain"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
<div class="project-card">
    <h1>Workstation&shy;Commands</h1>
    <p>A PaperMC plugin that adds customizable commands for each workbench.</p>
    <a href="https://github.com/Turbojax07/WorkstationCommands"><img alt="github" height="56" src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/github_vector.svg"></a>
</div>
{% endblock %}
