{% extends 'base/inline_md.html' %}

{% block title %}Service{% endblock %}
{% block header %}Community Service{% endblock %}

{% block md %}
- 03/15/2025 -- Removed trees from the Saint Michaels parking lot
- 02/25/2024 -- Blue Cheese Week 0
- 10/07/2023 -- Math Science Innovation Center Robotics Demo
- 09/30/2023 -- Blue Cheese STEM Fest
- 08/17/2023 -- Blue Cheese Demo
- 06/04/2023 -- Will Thompson Eagle Project Day 3
- 05/13/2023 -- Will Thompson Eagle Project Day 2
- 05/12/2023 -- Short Pump Elementary School STEM Day
- 03/11/2023 -- St Michaels Spring Cleanup
- 10/22/2022 -- Saint Michaels Holiday Bazaar
- 10/22/2022 -- Blue Cheese CHZY Champs
- 09/24/2022 -- Blue Cheese STEM Fest
- 09/09/2022 -- St Michaels Rummage Sale
- 05/27/2022 -- Quad's Eagle Scout Project
- 05/14/2022 -- Jackson Whiteman's Eagle Project
- 12/04/2021 -- Antietam National Battlefied
- 06/20/2021 -- My Eagle Project Day 2
- 06/13/2021 -- My Eagle Project Day 1
- 04/17/2021 -- T. Brady Saunders Trail Clean Up
- 12/19/2020 -- Wreaths Across America
{% endblock %}
