{% extends 'base/base.html' %}

{% block title %}Steaky Downloads{% endblock %}
{% block header %}Steaky Downloads{% endblock %}

{% block content %}
<ul>
    <li><a href="/static/uploads/steaky_lifesteal_plugins.tar.gz">steaky_lifesteal_plugins.tar.gz</a></li>
    <li><a href="/static/uploads/steaky_lifesteal_plugins.zip">steaky_lifesteal_plugins.zip</a></li>
    <li><a href="/static/uploads/steaky_lifesteal_main.tar.gz">steaky_lifesteal_worlds.tar.gz</a></li>
    <li><a href="/static/uploads/steaky_lifesteal_main.zip">steaky_lifesteal_worlds.zip</a></li>
    <li><a href="/static/uploads/steaky_lobby.tar.gz">steaky_lobby.tar.gz</a></li>
    <li><a href="/static/uploads/steaky_lobby.zip">steaky_lobby.zip</a></li>
    <li><a href="/static/uploads/steaky_proxy.tar.gz">steaky_proxy.tar.gz</a></li>
    <li><a href="/static/uploads/steaky_proxy.zip">steaky_proxy.zip</a></li>
</ul>
{% endblock %}
