<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <title>Upload new File</title>
    </head>
    <body>
        <h1>Upload new File</h1>
        <form action="/upload"method=post enctype=multipart/form-data class="dropzone">
        </form>

        <div id="Progress_Status">
            <div id="myprogressBar"></div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
        <script>
            Dropzone.options.myGreatDropzone = { // camelized version of the `id`
                maxFilesize: 2000000 // MB
            };
        </script>
    </body>
</html>
