{% extends 'base/inline_md.html' %}

{% block title %}Work{% endblock %}
{% block header %}Work History{% endblock %}

{% block md %}
## Intern at Integra Realty Resources
Integra Realty Resources | May 2024 - July 2024  
- Collect data on building permits and land sales throughout central Virginia.
- Write programs to automate tasks like formatting and filling out spreadsheets.
  
  

## Chick-Fil-A Front of House Employee
Chick-Fil-A | June 2023 - Present  
- Interact with and help customers as necessary, be it with ordering, payment, or filling drinks.
- Manage cash payments to the store.
  
  

## Landscaper
Self | May 2021 - Present  
- Perform mowing, trimming, and edging of multiple lawns.
- Remove debris and waste from outdoor areas.
{% endblock %}
